body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  position: absolute;
  top: 40px;
  font-size: 50px;
}

.container {
  width: 400px;
  height: 400px;
  border: 4px solid rgb(72, 58, 155);
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  color: rgb(72, 58, 155);
}

li {
  padding: 5px;
}
a:not(:last-of-type) li {
  margin-bottom: 10px;
}

li:hover {
  background-color: rgb(72, 58, 155);
  color: white;
}

.notice {
  display: none;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 30px;
  }
  .notice {
    display: block;
  }
}

@media all and (max-width: 767px) {
  h1 {
    font-size: 20px;
  }
  .notice {
    display: block;
  }
}
