body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: rgb(180, 180, 180);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* article */

article {
  margin-top: 100px;
  width: 300px;
  height: 400px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
}

.olaf {
  border: 10px solid rgb(255, 174, 0);
}
.elsa {
  border: 10px solid rgb(115, 196, 240);
  margin-left: 40px;
  margin-right: 40px;
}

.anna {
  border: 10px solid rgb(118, 229, 186);
}

/* common section */
section {
  height: 320px;
  padding: 0 10px;
}

/* img */
.olaf img {
  margin-left: -50px;
  margin-top: -200px;
}
.elsa img {
  margin-right: -60px;
  margin-top: -200px;
  margin-bottom: 20px;
}

.anna img {
  margin-top: -180px;
  margin-bottom: 20px;
}

/* contents */
h1 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

/* footer */
footer {
  width: 100%;
  height: 80px;
  background-color: rgb(210, 210, 210);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* button */
a {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
}

.olaf a {
  background-color: rgb(255, 174, 0);
  border-bottom: 5px solid rgb(216, 149, 4);
}
.elsa a {
  background-color: rgb(115, 196, 240);
  border-bottom: 5px solid rgb(90, 151, 184);
}
.anna a {
  background-color: rgb(118, 229, 186);
  border-bottom: 5px solid rgb(97, 179, 147);
}

.olaf a:active,
.elsa a:active,
.anna a:active {
  margin-bottom: -5px;
  border-bottom: none;
}
